In [1]:
import pandas as pd
import glob
import os
import json
import numpy as np
import inspect
import sys
import math

In [2]:
df_input = pd.read_csv('../output/influencer_variable.csv', sep=',', header=0)
df_comm = pd.read_csv('../output/communication_variables.csv', sep=',', header=0)
df_health = pd.read_csv('../output/health_variables.csv', sep=',', header=0)
df_questionnaire = pd.read_csv('../output/questionnaires_variables.csv', sep=',', header=0)

In [3]:
df_comm = df_comm[df_comm.Child.isin(df_input.Child.unique())]
df_health = df_health[df_health.Child.isin(df_input.Child.unique())]
df_questionnaire = df_questionnaire[df_questionnaire.Child.isin(df_input.Child.unique())]

#### Feature mapping

In [4]:
df_input['WC'] = df_input['Child'].map(df_comm.set_index('Child')['WC'])
df_input['affect'] = df_input['Child'].map(df_comm.set_index('Child')['affect'])
df_input['drives'] = df_input['Child'].map(df_comm.set_index('Child')['drives'])
df_input['social'] = df_input['Child'].map(df_comm.set_index('Child')['social'])
df_input['polarity'] = df_input['Child'].map(df_comm.set_index('Child')['polarity'])
df_input['health'] = df_input['Child'].map(df_comm.set_index('Child')['health'])
df_input['cogproc'] = df_input['Child'].map(df_comm.set_index('Child')['cogproc'])
df_input['subjectivity'] = df_input['Child'].map(df_comm.set_index('Child')['subjectivity'])
df_input['num_likes'] = df_input['Child'].map(df_comm.set_index('Child')['num_likes'])
df_input['g_num_text'] = df_input['Child'].map(df_comm.set_index('Child')['g_num_text'])
df_input['g_num_media'] = df_input['Child'].map(df_comm.set_index('Child')['g_num_media'])
df_input['i_num_text'] = df_input['Child'].map(df_comm.set_index('Child')['i_num_text'])
df_input['i_num_media'] = df_input['Child'].map(df_comm.set_index('Child')['i_num_media'])
df_input['i_num_recepients'] = df_input['Child'].map(df_comm.set_index('Child')['i_num_recepients'])

df_input['Steps'] = df_input['Child'].map(df_health.set_index('Child')['Steps'])
df_input['Minutes_MVPA'] = df_input['Child'].map(df_health.set_index('Child')['Minutes_MVPA'])
df_input['BMI'] = df_input['Child'].map(df_health.set_index('Child')['BMI'])

df_input['flynn_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['flynn_score'])
df_input['n2b_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['n2b_score'])
df_input['happy_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['happy_score'])
df_input['prosocial_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['prosocial_score'])
df_input['public_indiv_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['public_indiv_score'])
df_input['esteem_score'] = df_input['Child'].map(df_questionnaire.set_index('Child')['esteem_score'])

In [5]:
df_input

,Child,isInfluencer,WC,affect,drives,social,polarity,health,cogproc,subjectivity,...,i_num_recepients,Steps,Minutes_MVPA,BMI,flynn_score,n2b_score,happy_score,prosocial_score,public_indiv_score,esteem_score
0,1046,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5691.0,31.0,19.0,3.4,3.6,5.250000,NaN,2.333333,4.900000
1,1047,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9497.0,14.0,19.0,NaN,NaN,6.000000,NaN,NaN,NaN
2,1049,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8037.0,35.0,17.0,NaN,4.3,5.333333,NaN,NaN,3.450000
3,1050,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8917.0,33.0,22.0,NaN,2.5,6.333333,NaN,NaN,NaN
4,1055,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4252.0,7.0,28.0,3.8,4.4,6.000000,NaN,5.416667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,4889,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.75,12875.0,67.0,16.0,NaN,2.9,5.250000,NaN,NaN,4.526923
640,4890,0,6.875000,3.775833,6.073750,13.016667,-0.009236,0.000000,12.109167,0.329861,...,2.25,12762.0,70.0,18.0,NaN,NaN,6.000000,NaN,NaN,3.565385
641,6135,0,18.327869,9.820164,2.809508,7.474426,0.077832,0.196885,11.224590,0.429270,...,3.00,11414.0,49.0,17.0,NaN,NaN,6.333333,NaN,NaN,4.384615
642,6137,0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,13188.0,93.0,NaN,NaN,NaN,6.000000,NaN,NaN,4.076923
643,6138,1,2.000000,33.333333,16.666667,0.000000,0.366667,0.000000,16.666667,0.433333,...,1.00,11668.0,46.0,NaN,NaN,NaN,6.500000,NaN,NaN,4.846154

In [6]:
df_input.describe()

,Child,isInfluencer,WC,affect,drives,social,polarity,health,cogproc,subjectivity,...,i_num_recepients,Steps,Minutes_MVPA,BMI,flynn_score,n2b_score,happy_score,prosocial_score,public_indiv_score,esteem_score
count,644.000000,644.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,402.000000,...,391.000000,644.000000,644.000000,624.000000,310.000000,571.000000,632.000000,325.000000,358.000000,537.000000
mean,2215.246894,0.099379,4.058575,4.879672,4.456607,8.813711,0.026315,0.306338,7.055841,0.168751,...,2.108056,9614.931677,52.065217,18.689103,2.823871,4.075248,5.702196,5.009846,4.160847,3.872305
std,860.137025,0.299403,2.730600,7.382569,5.680184,7.105446,0.109460,1.377824,6.143540,0.172241,...,1.978236,2759.510790,38.192996,3.022039,1.259916,0.897878,0.883893,0.816588,1.165626,0.725355
min,1046.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-0.600000,0.000000,0.000000,0.000000,...,0.250000,3037.000000,2.000000,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,1484.000000,0.000000,2.578028,0.000000,0.000000,3.615685,-0.006478,0.000000,2.090435,0.048083,...,0.750000,7657.000000,28.000000,17.000000,2.000000,3.500000,5.250000,4.600000,3.416667,3.353846
50%,2262.500000,0.000000,3.651515,3.578618,3.160730,8.580742,0.000000,0.000000,6.250000,0.141983,...,1.500000,9235.000000,44.000000,18.000000,2.600000,4.200000,6.000000,5.000000,4.250000,3.971154
75%,2998.250000,0.000000,5.000000,6.694208,6.407006,12.827043,0.046090,0.000000,10.000000,0.225000,...,3.000000,11358.000000,67.000000,20.000000,3.600000,4.700000,6.200000,5.600000,5.000000,4.400000
max,6138.000000,1.000000,30.394737,100.000000,45.000000,53.333333,0.700000,14.285714,33.330000,1.000000,...,14.000000,18859.000000,450.000000,33.000000,6.000000,6.000000,7.000000,6.000000,6.000000,5.500000

In [7]:
# what to do with missing values?
# df_input.dropna(thresh=20)

#### XGBoost implementation - baseline
https://machinelearningmastery.com/xgboost-for-imbalanced-classification/

In [4]:
# fit xgboost on an imbalanced classification dataset
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
# generate dataset
X, y = make_classification(n_samples=10000, n_features=2, n_redundant=0,
	n_clusters_per_class=2, weights=[0.99], flip_y=0, random_state=7)
# define model
model = XGBClassifier()
# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)
# summarize performance
print('Mean ROC AUC: %.5f' % mean(scores))